.delete-info-top-text{
margin-bottom: 20px; 
font-size: 16px;
font-weight: 400;   
}

.room-info{
    display: grid;
    gap: 5px;
}

.room-info-modal{
    display: flex;
    gap: 30px;
}

.room-name{
    color: #F6921E;
    font-weight: 700;
    font-size: 13px;
    line-height: 25px;
}