.meetings {
  display: grid;
  gap: 20px;
  
  .future-meetings {
    display: grid;
    padding: 20px;
    padding-left: 100px;
    padding-right: 130px;
    gap: 20px;
    padding-bottom: 90px;
  }

  .past-meetings {
    background-color: white;
    display: grid;
    padding: 20px;
    padding-left: 100px;
    padding-right: 130px;
    gap: 20px;
    padding-bottom: 90px;
    
    .schedule-card{
        background-color: rgba(0, 0, 0, 0.15);
    }
  }

  a {
    font-size: 12px;
    text-decoration-line: underline;
    font-weight: 600;
    color: #f6921e;
  }
}