.dark-theme{
    --background-color: #222222;
    --header-color: #222222;

    --login-action-color:rgba(255,255,255,1);
    --login-action-color-2:rgba(255,255,255,0.6);

    --main-color: #FFFFFF;
    --second-color: #FFC132;

    --welcome-color: #FFFFFF;
    --logo-color: #343434;
    --header-text-color: #FFFFFF;

    --box-color: #222222;
    --box-border-color: 1px solid rgba(217, 217, 217, 0.5);

    --dash-card-text-color: #FFFFFF;
    --dash-card-background-color:rgba(0, 0, 0, 0.35);
    --dash-card-border-color:rgba(0, 0, 0, 0);

    --table-main-color:#3D3D3D;
    --table-second-color:#222222;
    --table-border-color:rgba(255, 255, 255, 0.15);
    --table-header-background-color: #171717;
    --table-body-text-color: rgba(255, 255, 255, 0.7);
    --table-header-text-color: #888888;

    --button-main-color:#FFC132;
    --button-second-color:#000000;

    --switch-button-color1: #565859;
    --switch-button-color2: #AFAFAF;

    --dashboard-text-color: #FFFFFF;
}